/*重置浏览器默认属性*/
*,::before,::after{
	margin:0;
	padding:0;
	-webkit-tap-hightlight-color:transparent;
	/*-webkit-box-sizing:content-box;*/
}
body{
	font-size: 0.7rem;
	color:#5a5a5a;
	font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif !important;
	background-color: #f7f7f7;
}
input,textarea{
	border:none;
	outline:none;
	resize:none;
	-webkit-appearance:none;
}
ul,ol{
	list-style:none;
}
i,s,{
	font-style:none;
}
a{
	text-decoration:none;
	color:#333333;
}
a:hover{
	text-decoration: none;
}


/*公用的样式*/
.fl{
	float:left;
}
.fr{
	float: right;
}
.clearfix::before,
.clearfix::after{
	content:" ";
	height: 0;
	line-height: 0;
	visibility:hidden;
	display:block ;
	clear:both;
}
.clearfix{
	*zoom:1;
}
.mainColor{
	color:#ff841d;
}
.mainRed{
	color:#e4393c;
}
.fontWeight{
	font-weight: 900;
}
/*========containner==========*/
.containner{
	min-width: 200px;
}
/*=======header=======*/
.header{
	height: 50px;
	/*width: 100%;*/
	background-color: #ff841d;
	border-bottom:1px solid #e6e6e6;

}
.header .logo{
	margin-left:5px;
	padding:12px;
	width: 75%;
}
.header .logo a{
	display: block;
	height: 100%;
	/*padding-top:12px;*/
}
.header .logo a img{
	/*width: 185px;*/
	max-height: 25px;
	/*line-height:50px;*/
	overflow: hidden;
}
.header .appDown{
	/*height:50px;*/
	padding:7px;
}
.header .appDown a{
	display: block;
}
.header .appDown img{
	/*width: 34px;*/
	max-height: 34px;
}

/*=======searchBar======*/
.searchBar{
	/*height: 30px;*/
	border-bottom:1px solid #ddd;
	position: relative;
	padding:10px;
	background-color: white;
}
.searchBar .searchText input{
	height: 30px;
	width: 90%;
	background-color: #f1f1f1;	
	border-radius:15px;
	padding-left: 5%;
	font-size:16px;
}
.searchBar .searchButton input{
	width: 63px;
	height: 30px;
	background-color: #ff841d;
	border-radius:15px;
	color:white;
	font-size: 16px;
	position: absolute;
	right:10px;
	top: 10px;
}
/*======discountRecoment======*/
.discountRecoment{
	/*height: 35px;*/
	margin-top: 4px;
	position: relative;
	/*background-color: white;*/
}
.discountRecoment .reTitle{
	padding-left:10px;
	line-height: 35px;
	background-color: #ff9000;
	border:1px solid  #ffc881;
}
.discountRecoment .reTitle span{
	font-size: 18px;
	color: white;
	font-weight: bold;
}
.discountRecoment .reTitle img{
	width: 20px;
	height: 20px;
	position: absolute;
	right:10px;
	top: 7px;
}

.discountRecoment .reContent ul li {
	padding:14px 8px;
	background-color: white;
	border-bottom:1px solid #ccc;
}
.discountRecoment .reContent ul li > a {
	display: block;
}
.discountRecoment .reContent .pic{
	width: 110px;
}
.discountRecoment .reContent  img {
	width: 100px;
	height: 100px;
} 
.discountRecoment .reContent .other {
	margin-left:10px;
	overflow: hidden;
	padding-left:90px: 
}
.discountRecoment .reContent .other .info{
	font-size: 12px;
	color:#a1a1a1;
	margin-top: 30px;
}
.discountRecoment .reContent .other .info .iconfont{
	margin-right: 3px;
}
.discountRecoment .more a{
	display: block;
	width: 100%;
	margin:5px;
	border-radius:5px;
	text-align: center;
	line-height: 30px;	
	border:1px solid #dddddd;
	background-image: linear-gradient(#ffffff,#f4f4f4);
}
/*=========proPage============*/
.product .proPage {
	/*position: relative;*/
	display: flex;
	justify-content:space-between;
	padding-top: 20px;
	background-color: white;
	margin-bottom:30px;
}
.product .proPage a {
	width: 82px;
	line-height: 33px;
	display: block;
	border:1px solid #bbb;
	border-radius:5px;
	background-color: #ececec;
	background: -webkit-gradient(linear, 0 0 ,0 100% ,from(#ececec),to(#ccc));
	text-align: center;
	font-size: 15px;
	color:#666;
}
.product .proPage .prePage{

}
.product .proPage .nextPage{

}
.product .proPage select{
	height: 33px;
	width: 90px;
	padding-left: 20px;
}
/*===========foot=========*/
.foot{
	margin-top:15px;
	background-color: #efefef;
}
.foot .foot-btn ul {
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	width: 100%;
}
.foot .foot-btn li{
	float: left;
	width: 33.1111%;
	text-align: center;
}
.foot .foot-btn a {
	display: inline-block;
	line-height: 34px;
}
.foot .foot-btn .center-btn {
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}
.foot .loginUrl {
	/*height: 68px;*/
	text-align: center;
	font-size: 12px;
	padding-top:15px;
	padding-bottom:15px;
}
.foot .foot-btn  .icon-arrowupx-copy{
	font-size: 14px;
	color:rgb(119, 113, 113);
	margin-right: 2px;
}


/*=========proNav============*/
.product .proNav{
	line-height: 36px;
	border-top:1px solid #ebebeb;
	border-bottom:1px solid #ccc;
	font-size: 14px;
	padding-left: 8px;
	position:relative;
	background: -webkit-gradient(linear,0 0 ,0 100%,from(#fff),to(#ebebeb));
}
.product .proNav a{
	color:#5a5a5a;
	padding-right: 4px;
}
.product .proNav a.filterBtn{
	border:1px solid #ccc;
	display: block;
	line-height: 25px;
	width: 50px;
	text-align: center;
	position: absolute;
	right: 3px;
	top: 5px;
	background-color: #ebebeb;
	background:-webkit-gradient(linear,0 0,0 100%,from(#ebebeb),to(#fff));
	border-radius:5px;
}