

/*=======mainCategory======*/
.mainCategory{
	padding: 6px 0;
	background-color: white;
	display: block;
}
.mainCategory .row{
	padding:16px 16px 0px;
	margin:0;
}
.mainCategory .col-xs-3{
	text-align: center;
	margin-bottom: 15px;
	padding:0;

}
.mainCategory .col-xs-3 a{
	display: block;
}
.mainCategory .col-xs-3 img{
	width: 50px;
	height: 50px;
	margin-bottom: 2px;
}
.mainCategory .col-xs-3 div{
	font-size: 13px;
	color:#5a5a5a;
}
.mainCatShow{
	height:300px;
}
.mainCatHidd{
	height: 190px;
	overflow: hidden;
}

/*=====brandRank=======*/
.brandRank{
	/*height: 30px;*/
	background-color: #ff9000;
	position: relative;
}
.brandRank > a {
	display: block;
}
.brandRank .brTitle span{
	color: white;
	font-size:18px;
	font-weight: bold;
	padding-left:10px;
	line-height: 35px;
}
.brandRank .brTitle img{
	                                                                                                                                                            20px 20px;
	width: 20px;
	height: 20px;
	position: absolute;
	right: 10px;
	top:7px;
}
