.header{
	height:44px;
	padding-left: 15px;
	/*position: relative;*/
	display:flex;
	justify-content:space-around;
	align-items:center;
}
.header .iconfont{
	color:white;
	/*position: absolute;
	top: 0px;*/
	line-height: 44px;
	width: 44px;
	display: block;
}
.header > p{
	width: 100%;
	color:white;
	font-size: 20px;
	font-weight: bold;
	text-align:center;
	/*line-height: 44px;*/
}